/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Color Palette
Dark    #383D3B
light   #EFF9F0
*/

/* *** TYPESTYLES *** */

@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@600&family=Source+Sans+Pro&display=swap');
/*
font-family: 'Piazzolla', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

h1 {
  font-family: 'Piazzolla', serif;
  margin: 0;
  padding: 20px 0;
  color: #EFF9F0;
  letter-spacing: 0.3px;
}

h2 {
  font-family: 'Piazzolla', serif;
  margin: 0 0 20px 0;
  padding: 5px;
  color: #383D3B;
  letter-spacing: 0.3px;
}

h3 {
  font-family: 'Piazzolla', serif;
  margin: 0 0 20px 0;
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  color: #383D3B;
  letter-spacing: 0.3px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 20px 0;
  padding: 5px;
  text-align: center;
  letter-spacing: 0.3px;
}

button, label {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.3px;
}


/* *** STRUCTURE *** */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #383D3B;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF9F0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.quiz-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.question { /* stops quiz from jumping when question breaks over multiple lines */
  min-height: 35px;
}


/* *** DESIGN *** */

button {
  margin: 0 0 20px 0;
  padding: 5px 10px;
  background-color: #383D3B;
  color: #EFF9F0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

li {
  margin: 7px 0;
}

input {
  margin-right: 10px;
}

.score {
  margin-bottom: 0;
}


/* *** MEDIA QUERIES *** */

@media screen and (min-width: 600px) {

  body {
    height: 100vh;
    flex-direction: row;
  }

  header {
    flex: 1;
  }

  main {
    flex: 1;
  }

}